.mobile-menu
    .mobile-menu__item
        img(src="img/svg/icon-mobile-catalog.svg", alt="").mobile-menu__icon
        .mobile-menu__name Каталог
    .mobile-menu__item
        img(src="img/svg/icon-mobile-search.svg", alt="").mobile-menu__icon
        .mobile-menu__name Поиск
    .mobile-menu__item(data-toggle="fly-cart")
        img(src="img/svg/icon-mobile-cart.svg", alt="").mobile-menu__icon
        .mobile-menu__name Корзина
    .mobile-menu__item
        img(src="img/svg/icon-mobile-sale.svg", alt="").mobile-menu__icon
        .mobile-menu__name Акции
    .mobile-menu__item.js-menu-toggler
        .mobile-menu__burger
            .mobile-menu__burger-bar
            .mobile-menu__burger-bar
            .mobile-menu__burger-bar
        .mobile-menu__name Меню