extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	include ../blocks/modules/header/header
	include ../blocks/modules/fly-cart/fly-cart
	include ../blocks/modules/mobile-menu/mobile-menu
	include ../blocks/modules/popup/popup
	

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")