.fly-cart.js-drop#fly-cart
    .fly-cart__inner
        .fly-cart__list
            .fly-cart__item 
                img(src="img/cart-item-1.png", alt="").fly-cart__item-pic
                .fly-cart__item-content
                    a(href="#").fly-cart__item-title Браво-22 Snow Melinga / Magic Fog
                    p.fly-cart__item-category Межкомнатная дверь
                .fly-cart__item-values 
                    .fly-cart__item-price 300 600 ₽
                    .fly-cart__counter
                        svg.fly-cart__counter-action.js-counter-minus
                            use(xlink:href="img/sprites/sprite.svg#icon-minus")
                        .fly-cart__counter-value.js-counter-value 1
                        svg.fly-cart__counter-action.js-counter-plus
                            use(xlink:href="img/sprites/sprite.svg#icon-plus")
            .fly-cart__item 
                img(src="img/cart-item-2.png", alt="").fly-cart__item-pic
                .fly-cart__item-content
                    a(href="#").fly-cart__item-title Браво-22 Snow Melinga
                    p.fly-cart__item-category Межкомнатная дверь
                .fly-cart__item-values 
                    .fly-cart__item-price 18 600 ₽
                    .fly-cart__counter
                        svg.fly-cart__counter-action.js-counter-minus
                            use(xlink:href="img/sprites/sprite.svg#icon-minus")
                        .fly-cart__counter-value.js-counter-value 1
                        svg.fly-cart__counter-action.js-counter-plus
                            use(xlink:href="img/sprites/sprite.svg#icon-plus")
            .fly-cart__item 
                img(src="img/cart-item-1.png", alt="").fly-cart__item-pic
                .fly-cart__item-content
                    a(href="#").fly-cart__item-title Браво-22 Snow Melinga / Magic Fog
                    p.fly-cart__item-category Межкомнатная дверь
                .fly-cart__item-values 
                    .fly-cart__item-price 300 600 ₽
                    .fly-cart__counter
                        svg.fly-cart__counter-action.js-counter-minus
                            use(xlink:href="img/sprites/sprite.svg#icon-minus")
                        .fly-cart__counter-value.js-counter-value 1
                        svg.fly-cart__counter-action.js-counter-plus
                            use(xlink:href="img/sprites/sprite.svg#icon-plus")
            .fly-cart__item 
                img(src="img/cart-item-2.png", alt="").fly-cart__item-pic
                .fly-cart__item-content
                    a(href="#").fly-cart__item-title Браво-22 Snow Melinga
                    p.fly-cart__item-category Межкомнатная дверь
                .fly-cart__item-values 
                    .fly-cart__item-price 18 600 ₽
                    .fly-cart__counter
                        svg.fly-cart__counter-action.js-counter-minus
                            use(xlink:href="img/sprites/sprite.svg#icon-minus")
                        .fly-cart__counter-value.js-counter-value 1
                        svg.fly-cart__counter-action.js-counter-plus
                            use(xlink:href="img/sprites/sprite.svg#icon-plus")

        .fly-cart__bottom
            .fly-cart__total Сумма заказа:
                span.fly-cart__total-value 33 119 ₽

            .fly-cart__btn
                a(href="#").btn.btn--green Перейти к оформлению →